* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 400px;
  background-color: rgb(250, 247, 247);
  font-size: 16px;
  font-style: serif, monospace;
}

.container {
  width: 400px;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version {
  font-size: 12px;
}

#vin-number {
  width: 20ch;
}

.card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.vehicle-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specs {
  flex: 1;
  list-style-type: none;
}

.go-to-site-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
